.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: #21191c;
}

.movie-container {
  display: flex;
  flex-direction: column;
}
